.Cv
	padding 2rem 0
	background-color #f5f7f8
	&__container
		box-sizing border-box
		padding 2rem
		background-color white
		box-shadow 0 0 7px box-shadow
		h2
			font-size 1.5rem
			color color-text
			margin-bottom 1rem
			border-bottom 1px solid #e6e6e6
			padding-bottom .5rem
		h3
			font-size 1.3rem
			color color-text
			margin-bottom 1rem
		.parrafo, h4
			font-size 1.2rem
			color color-text
			padding-bottom 1rem
		a
			text-decoration none
			font-size 1.2rem
			color #2eaad2
		ul
			padding-left 2.5rem
			margin-bottom 2rem
			li
				margin .3rem 0
				font-size 1.2rem
				color color-text
				strong
					font-size 1.2rem
					color color-text
			
@media screen and (min-width 767px)
	.Cv
		&__container
			h2
				font-size 2rem
				color color-text
				margin-bottom 1rem
				border-bottom 1px solid #e6e6e6
				padding-bottom .5rem
			h3
				font-size 1.6rem
				color color-text
				margin-bottom 1rem
			// .parrafo, h4
			// 	font-size 1.4rem
			// 	color color-text
			// 	padding-bottom 1rem
			// a
			// 	text-decoration none
			// 	font-size 1.4rem
			// 	color #2eaad2