.ItemLenguaje
	margin-bottom 2rem
	width 80%
	background-color white
	box-shadow 0 0 7px box-shadow
	padding 1.5rem
	max-width 300px
	&__image
		padding 1rem
		text-align center
		img
			margin 0 auto
			width 150px
			border-radius 50%
	&__text
		text-align center
		h3
			font-size 1.5rem
			color color-text
			margin-bottom 1rem
		p
			font-size 1rem
			color color-text

@media screen and (min-width 767px)
	.ItemLenguaje
		width 30%
		max-width 250px
		
	